* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

hr {
    border: 4px solid #222222;
}

.logoImg {
    width: 140px;
}

.showcase {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
    z-index: -1;
}

.showcase::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 1;
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    margin: 0px 45px;
    padding-top: 30px;
    z-index: 2;
}

.showcase-top img {
    position: absolute;
}

.showcase-top a {
    position: absolute;
    right: 0;
}

.showcase-bottom {
    position: relative;
    padding: 200px 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    line-height: 3.5rem;
}

.hero-text {
    width: 55%;
}


/* 
.tvblock {
    padding: 70px 45px;
}

.tvblock-text {
    position: relative;
} */

h1,
h2,
h3,
h4 {
    color: white;
    font-weight: 100;
}

p {
    margin: 0.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}


/* Buttons */

.btn {
    display: inline-block;
    background: #E50914;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn-rounded {
    border-radius: 3px;
}

.btn-xl {
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.9;
}

.btn-icon {
    size: 2px;
}